@model ProductIndexViewModel

@{
    ViewData["Title"] = "Product List";
}
<style>
    .product-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        text-align: center;
        width: 200px;
    }
    .product-item img {
        max-width: 100%;
        height: auto;
    }
    .product-item h2 {
        font-size: 1.5em;
        margin: 10px 0;
    }
    .product-item p {
        font-size: 1em;
    }
</style>
<div class="d-flex align-items-center mb-4">
    @foreach (var product in Model.Products)
    {
        <div class="product-item">
            <img class="img-fluid rounded" src="@Url.Content(product.ImageUrl)" alt="@product.Name" />
            <h2>@product.Name</h2>
            <p>Price: @product.Price.ToString("C")</p>
            <p>@product.Description</p>
            <a href="@Url.Action("Details", "Product", new { id = product.Id })">View Details</a>
        </div>
    }
</div>